{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-only-tests"
  ],
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-console": "error",
    "prefer-object-spread": 0,
    "class-methods-use-this": 0,
    "max-len": ["warn", { "code": 120, "ignoreComments": true }],
    "comma-dangle": [
      "error",
      {
        "functions": "ignore"
      }
    ],
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/no-unused-vars": ["error"]
  },
  "ignorePatterns": ["coverage", "dist"],
  "env": {
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ]
}
